<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-99a2EBJxx5j+3OKPH6hdvds2PJPLsO9s0AF0gflzfs9+U3b0OYon4b45Hphb3aZQ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
        .fixed-card {
            height: 220px;
            width: 350px;
            margin: 0 20px 20px 0;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #f15b2a">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BrainBoost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/panel">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support</a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" th:action="@{/dashboard}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                <button style="border-color: #2F2822FF" class="btn" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br>

<button type="button" style="margin-left: 75px; margin-bottom: 20px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new course
</button>

<form method="post" th:action="@{/dashboard/add-course}">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Course</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Explanation</label>
                        <textarea type="text" class="form-control" id="exampleInputPassword1" name="explanation" th:value="explanation"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>



<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4"  th:each="course : ${courses}">
            <div class="card text-center fixed-card">
                <div class="card-header" style="color: #f15b2a" th:text="${counter.getCount()}">
                </div>
                <div class="card-body">
                    <h5 th:text="${course.name}" class="card-title"></h5>
                    <p class="card-text" th:text="${course.explanation}"></p>
                </div>
                <div class="card-footer text-muted"><a th:value="course.name" th:href="${'/dashboard/'+course.name}" class="btn btn-success btn-sm">Start</a>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>