<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
      .card:hover {
        border-color: #f15b2a;
      }
      a.card-link {
        text-decoration: none;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #f15b2a">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BrainBoost</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/panel">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button style="border-color: #2F2822FF" class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>
<div class="container" style="width: 800px">
  <div th:each="paragraph : ${course.paragraphs}">
    <a href="/question" style="text-decoration: none">
    <div class="card">
      <div class="card-body">
        <strong th:text="${counter.getCount()} + ' |'"></strong>
        <span th:utext="${paragraph.content}"></span>
      </div>
    </div>
    </a>
    <br>
  </div>
</div>




</body>
</html>